section.section-main
  div.left-box
    ul.left-box-list
      li.left-box-list-item
        h3 Objective
        p.objective-paragraph Hello! I am a novice front-end developer, I want to start a career in this field, and in a few years to grow to team leader.
      li.left-box-list-item
        h3 Skills
        ul
          li - #[strong Technical Skills:] HTML 5, CSS 3, Pug, PostCSS, SCSS, BEM, JS, React, Redax, ES6, JSON, Chrome devtools, locslStoreg, Rest Ful API, DOM API, NPM, Webpack, prettier, ESLint, Photoshop.
          li - #[strong Soft skills:] Communication, Teamwork, Problem Solving, Logical Thinking, Organization, The ability to learn.
      li.left-box-list-item
        h3 language 
        ul
          li Ukrainian - native;
          li Russian - native;
          li English - pre-intermediate (actively studied).
  div.right-box
    ul.right-box-list
      li.right-box-list-item
        h3.project-header Project example 
        ul.project-list
          li.project-list-item
            h4 React
            ul
              li #[a(href='https://github.com/erastfandorin/goit-react-hw-02-phonebook' target='_blank') - Phonebook app with redux, reselect, react-transition-group, localstorage.] 
              li #[a(href='https://github.com/erastfandorin/goit-react-hw-04-movies' target='_blank') - Trending movies app with react-router-dom and react-lazy.]
          li.project-list-item
            h4 Vanilla JavaScript
            ul
              li #[a(href='https://github.com/erastfandorin/goit-js-hw-13-image-finder' target='_blank') - Search image app with infinite scroll on intersection Observer API, handlebars.]
              li #[a(href='https://github.com/erastfandorin/goit-js-hw-12-countries' target='_blank') - Search information about countries app with lodash, PNotify.]
          li.project-list-item
            h4 HTML and CSS
            ul
              li #[a(href='https://github.com/erastfandorin/Resume' target='_blank') - This resume with Pug, PostCSS.]
      li.right-box-list-item
        h3 Courses
        h4 GoIT Front End
        p.time June - December 2019
        ul
          li - Studied the basics React, JS, HTML, CSS, Git.
          li - Worked with SCRAM and #[a(href='https://github.com/zharovskyi/JS_film' target='_blank') make team project].
      li.right-box-list-item
        h3 Education
        h4 Taras Shevchenko National University
        p.time Psychologist | Graduated June 2020
        ul
          li - Headed the student government dormitory - organized more than a #[a(href='https://drive.google.com/drive/folders/1lMQPNzW7YqoZdD8hm2uWJiZpS-cQ6qaI' target='_blank') dozen different events], express their thoughts in the writing, work in a team and find a way out of conflict situations.
          li - learned to #[a(href='https://drive.google.com/drive/folders/1dX_-rrxRLx5NV0lbSPrurL7j1CuhqUGw' target='_blank') make presentations and posters in Canva].
          li - I took a course in cognitive ergonomics.
      li.right-box-list-item
        h3 Work experience 
        ul
          li 
            h4 Sales consultant
            p.time Hobby World | December 2018 - May 2019
          li
            h4 Promoter
            p.time Dnipro-M | December 2017 - January 2018
        span.dots
          span.dot
          span.dot
          span.dot
        
