section.section-main
  div.left-box
    ul
      li.left-box__list-item
        h3.subtitle Objective
        p.left-box__objective-paragraph.text Hello! I am a novice front-end developer, currently starting a career in this field and want to grow to a team leader the next few years.
      li.left-box__list-item
        h3.subtitle Skills
        ul
          li.text - #[strong Technical Skills:] HTML 5, CSS 3, Pug, PostCSS, SCSS, BEM, JS, React, Redax, ES6, JSON, Chrome devtools, locslStoreg, Rest Ful API, DOM API, NPM, Webpack, prettier, ESLint, Photoshop.
          li.text - #[strong Soft skills:] Communication, Teamwork, Problem Solving, Logical Thinking, Organizational skills, Eager to learn and develop new skills.
      li.left-box__list-item
        h3.subtitle language 
        ul
          li.text Ukrainian - native;
          li.text Russian - native;
          li.text English - pre-intermediate (in active learning).
  div.right-box
    ul
      li.right-box__list-item.project
        h3.subtitle.project__header Project example 
        ul.project__list
          li.project__list-item
            h4 React
            ul
              li.text #[a(href='https://github.com/erastfandorin/goit-react-hw-02-phonebook' target='_blank') - Phonebook app with redux, reselect, react-transition-group, localstorage.] 
              li.text #[a(href='https://github.com/erastfandorin/goit-react-hw-04-movies' target='_blank') - Trending movies app with react-router-dom and react-lazy.]
          li.project__list-item
            h4 Vanilla JavaScript
            ul
              li.text #[a(href='https://github.com/erastfandorin/goit-js-hw-13-image-finder' target='_blank') - Search image app with infinite scroll on intersection Observer API, handlebars.]
              li.text #[a(href='https://github.com/erastfandorin/goit-js-hw-12-countries' target='_blank') - Search information about countries app with lodash, PNotify.]
          li.project__list-item
            h4 HTML and CSS
            ul
              li.text #[a(href='https://github.com/erastfandorin/test_task_viseven_academy' target='_blank') - landing page with Pug, SCSS.]
              li.text #[a(href='https://github.com/erastfandorin/Resume' target='_blank') - This resume with Pug, PostCSS.]
      li.right-box__list-item
        h3.subtitle Courses
        h4 GoIT Front End
        p.time June - November 2019
        ul
          li.text - Studied the basics React, JS, HTML, CSS, Git.
          li.text - Worked with Scrum and #[a(href='https://github.com/zharovskyi/JS_film' target='_blank') made team project].
      li.right-box__list-item
        h3.subtitle Education
        h4 Taras Shevchenko National University
        p.time Psychologist | Graduated June 2020
        ul
          li.text Headed the student's dormitory council: organized more than a #[a(href='https://drive.google.com/drive/folders/1lMQPNzW7YqoZdD8hm2uWJiZpS-cQ6qaI' target='_blank') dozen different events], worked in a team and used to find a way out of conflict situations.
          li.text - #[a(href='https://drive.google.com/drive/folders/1dX_-rrxRLx5NV0lbSPrurL7j1CuhqUGw' target='_blank') developed presentation and poster making skill (Canva)].
      li.right-box__list-item
        h3.subtitle Work experience 
        ul
          li 
            h4 Sales consultant
            p.time Hobby World | December 2018 - May 2019
        span.dots
          span.dot
          span.dot
          span.dot
        
