.section-header {
  background-image: url("img/backgroundForHeader.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 510px;

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    height: 421px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    background-image: url("img/backgroundForHeaderTablet.png");
    background-position: -912px -119px;
    background-size: 344%;
    height: 591px;
  }

  @media only screen and (min-width: 320px) and (max-width: 767px) {
    background-image: none;
    background-color: #3a6cf4;
    margin-bottom: 15px;
  }

  .cont-header {
    padding: 38px 96px;
    display: flex;
    justify-content: space-between;

    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 38px 80px;
    }

    @media only screen and (min-width: 320px) and (max-width: 991px) {
      flex-wrap: wrap-reverse;
      justify-content: center;
      padding: 30px 21px;

      .header-information-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }

    .main-heading {
      max-width: 450px;
      margin: 0 0 16px -3px;
      color: #ffffff;
      font-family: Roboto;
      font-weight: 700;
      font-size: 5.1em;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 2px;
      text-indent: 4px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin: 0 0 7px -3px;
      }

      @media only screen and (min-width: 600px) and (max-width: 991px) {
        max-width: 500px;
        font-size: 4.1em;
        margin: 0 0 8px -3px;
      }

      @media only screen and (min-width: 320px) and (max-width: 599px) {
        font-size: 3em;
        margin: 0 0 8px -3px;
        text-align: center;
      }
    }

    .sub-heading {
      margin: 0 0 20px;
      color: #ffffff;
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.54em;
      text-transform: uppercase;
      letter-spacing: 5.1px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin: 0 0 15px;
      }

      @media only screen and (min-width: 320px) and (max-width: 468px) {
        text-align: center;
      }
    }

    .social-icon {
      display: flex;
      justify-content: space-between;
      width: 163px;
      margin: 0 0 12px 0;

      .icon-item {
        width: 33px;
        height: 34px;
        border-radius: 15%;

        &:nth-child(1) {
          background-color: #000000;
        }
        &:nth-child(2) {
          background-color: #2765ad;
        }
        &:nth-child(3) {
          background-color: #27a2e4;
        }
        &:nth-child(4) {
          background-color: #36a1d5;
        }

        .icon-github {
          width: 25px;
          margin: 4px 4px;
        }

        .icon-linkedin {
          width: 20px;
          margin: 5px 6px;
        }

        .icon-skype {
          width: 23px;
          margin: 5px 5px;
        }

        .icon-telegram {
          width: 23px;
          margin: 5px 5px;
        }

        a {
          display: block;
        }
      }
    }

    .contact {
      color: #ffffff;
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.38em;
      line-height: 1.3;
      letter-spacing: 0.012em;
      display: table;
      text-decoration: none;
    }

    .box-for-photo {
      margin: 18px -12px;
      position: relative;
      z-index: 0;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        margin: 13px -6px;
      }

      @media only screen and (min-width: 320px) and (max-width: 991px) {
        margin: 0 0 15px 0;
      }

      .photo {
        width: 405px;
        border: 27px solid #6b03dd;
        border-radius: 100%;

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          width: 330px;
          border-width: 20px;
        }

        @media only screen and (min-width: 320px) and (max-width: 991px) {
          width: 250px;
          border-width: 14px;
        }
      }
    }

    .box-for-photo::before {
      background-image: url("img/backMyPhoto.png");
      background-size: cover;
      background-position: top;
      width: 421px;
      height: 421px;
      content: "";
      position: absolute;
      z-index: -1;
      top: -31px;
      right: -44px;

      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        width: 347px;
        height: 347px;
        top: -24px;
        right: -36px;
      }

      @media only screen and (min-width: 320px) and (max-width: 991px) {
        width: 264px;
        height: 264px;
        top: -20px;
        right: -28px;
      }
    }
  }
}

.decorative-element-header-one {
  background-color: #6b03dd;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  position: absolute;
  top: 279px;
  width: 52px;
  height: 123px;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    top: 235px;
    width: 40px;
    height: 98px;
  }

  @media only screen and (min-width: 375px) and (max-width: 992px) {
    top: 326px;
    width: 47px;
    height: 117px;
  }

  @media only screen and (min-width: 320px) and (max-width: 374px) {
    display: none;
  }
}

.decorative-element-header-two {
  background: linear-gradient(-58deg, #6b03dd, #ffffff);
  border-radius: 50%;
  position: absolute;
  top: 401px;
  right: 44px;
  width: 65px;
  height: 67px;

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    top: 334px;
    right: 40px;
    width: 54px;
    height: 54px;
  }

  @media only screen and (min-width: 375px) and (max-width: 991px) {
    top: 414px;
    right: 22px;
    width: 55px;
    height: 55px;
  }

  @media only screen and (min-width: 320px) and (max-width: 374px) {
    display: none;
  }
}
